<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tictum.appcandidatos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/videoInterview"
        android:label="Video InterView"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Activity_SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Activity_ListaEntrevistas" />
        <activity
            android:name=".activities.activity_VideoIntroTransicion"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activities.Activity_Formulario" />
        <activity  android:name=".activities.Activity_VideoPregunta"
                    android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activities.Activity_GrabarRespuesta"
                  android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activities.Activity_Despedida" />
        <activity android:name=".activities.Activity_Adjuntos" />
        <activity android:name=".activities.Activity_Formulario2" />
        <activity android:name=".activities.Activity_Formulario3" />
        <activity android:name=".activities.Activity_Formulario4"></activity>
    </application>

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>